@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Echelon Enforcers</title>
  
</head>
<body>
<h1 class="text-light">Contact Us - Echelon Enforcers</h1>

    <p class="text-light">
    For inquiries or more information, you can contact us at the following email address:
</p>

    <p class="text-light">
    Email: <a href="mailto:info@echelonenforcers.com">info@echelonenforcers.com</a>
</p>

<p class="text-light">
    Connect with us on social media:
</p>

<ul class="text-light">
    <li><a href="https://www.facebook.com/echelonenforcers">Facebook</a></li>
    <li><a href="https://twitter.com/echelonenforcers">Twitter</a></li>
    <li><a href="https://www.instagram.com/echelonenforcers">Instagram</a></li>
</ul>
</body>
</html>