@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />


<img class="Index-logo" src="\Images\Echelon Enforcers .png" height="300" , width="700" />

<div id="scrollContainer">
    <h1 id="main-heading" class="heading">Welcome to Echelon Enforcers</h1>

    <h3 class="sub-heading">About Us </h3>

    <p class="us-text">At Echelon Enforcers, we are more than just a gaming club; we are a community of passionate gamers united by the love of competition, 
        camaraderie, and the pursuit of excellence in the gaming world. 
        Established with the vision of creating a thriving space for competitive gaming enthusiasts, 
        Echelon Enforcers brings together individuals who share a common passion for the virtual battleground.
    </p>

    <h1 class ="heading">Our Mission</h1>

    <h3 class="sub-heading">"Unleashing the Power of Gaming Excellence"</h3>

    <p class="us-text">
        Our mission is to provide a platform where gamers of all levels can come together, 
        learn from one another, and push the boundaries of their skills in a competitive and supportive environment. 
        We strive to foster a community that celebrates diversity, sportsmanship, and the sheer joy of gaming.
    </p>

    <h1 class="heading">What Sets Us Apart</h1>

    <p class="us-text">
        Passion for Excellence: We believe in constantly pushing the limits of our gaming abilities. Whether you're a seasoned pro or a newcomer to competitive gaming, Echelon Enforcers is the place where you can elevate your skills and rise to the top.

        Community Engagement: Beyond the virtual realm, Echelon Enforcers is a community that engages in various activities. From organizing local meet-ups to participating in charity events, we aim to make a positive impact both inside and outside the gaming world.

        Inclusivity: We welcome gamers from all walks of life. Regardless of your background, skill level, or preferred gaming platform, there's a place for you in the Echelon Enforcers community.
    </p>

    <h1 class="heading">What We Offer</h1>

    <p class="us-text">
        Competitive Leagues: Engage in thrilling competitions across a variety of games and genres. Join our teams and compete in local and online tournaments to showcase your skills.

        Skill Development: Access resources and training programs designed to help you hone your gaming skills. Learn from experienced players, participate in workshops, and stay at the cutting edge of gaming strategies.

        Social Events: Connect with fellow gamers through our regular social events, both online and offline. Whether it's a LAN party, a game night, or a community meet-up, there are plenty of opportunities to make lasting connections.
    </p>

    <h1 class ="heading">Join Us On The Journey</h1>

    <p class="us-text">
        Whether you're a casual gamer looking to have fun or a competitive player striving for victory, Echelon Enforcers is the community where you can make your mark. Join us on this exciting journey as we continue to push the boundaries of gaming excellence.

        Ready to level up? Join Echelon Enforcers today and be part of something extraordinary!
    </p>
</div>

