/* _content/EchelonEnforcers/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



.btn-primary[b-lvnfsc7dse] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

./*nav-logo {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    opacity: .2;
}*/

.border-top[b-lvnfsc7dse] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-lvnfsc7dse] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-lvnfsc7dse] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-lvnfsc7dse] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-lvnfsc7dse] {
  position: absolute;
  bottom: 0;
  width: 100%;
  /*white-space: nowrap;*/
  line-height: 60px;
}

.bg-img[b-lvnfsc7dse]{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter:brightness(0.6);
    position:absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 2;
}
